{% extends "dir_list/_layout.html" %}
{% block content %}

<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
            Directory listing for "{{meta.current_directory}}"
          </div>
          <div class="card-block">
              <p>
                  <a href="/download_all">Download all</a>
              </p>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Size
                  </th>
                  <th>
                    MIME
                  </th>
                  <th>
                    Download
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for folder in folders %}
                  <tr>
                    <td>
                      <i class="fa fa-file-o"></i> {{ folder.name }}
                    </td>
                    <td>
                      {{ folder.size }}
                    </td>                    
                    <td>
                      <span class="label label-primary">{{ folder.mime }}</span>
                    </td>
                    <td>
                    </td>
                </tr>
                {% endfor %}

                {% for file in files %}
                  <tr>
                    <td>
                      <i class="fa fa-file-o"></i> {{ file.name }}
                    </td>
                    <td>
                      {{ file.size }}
                    </td>
                    <td>
                      <span class="label label-primary">{{ file.mime }}</span>
                    </td>
                    <td>
                      <a href="download/{{ file.fullname|urlencode }}" class="label label-success"><i class="fa fa-download"></i> Download</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
