{% extends "dir_list/_layout.html" %}
{% block content %}
  <div class="container" style="margin-top: 10px">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-danger">
          <div class="card-block white">
            <h2>File not found!</h2>
            <p class="lead">The file you are looking for was not found!</p>
            <p>
              <a href="/">&lt;-- Go back...</a>
            </p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
