<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="node_modules/jsuites/dist/jsuites.basic.css">
    <link rel="stylesheet" href="node_modules/jexcel/dist/jexcel.css">
    <link rel="stylesheet" href="node_modules/dropzone/dist/min/dropzone.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        body {
            overflow-x: hidden;
        }

        .app_container {
            width: 100%;
            padding: 0 20px;
        }

        .jexcel_container {
            width: 100%;
            overflow: hidden;
        }

        .jexcel_content {
            width: 100% !important;
            scrollbar-width: auto;

        }
        .jexcel_content::-webkit-scrollbar {
            width: 20px;
            height: 20px;
        }

        #my-awesome-dropzone {
            display: inline-block;
            height: auto;
            min-height: auto;
            padding: 10px;
        }

        #my-awesome-dropzone .dz-message {
            margin: 0;
        }

        #weights_spreadsheet .jexcel {
            margin-bottom: 12px;
        }
    </style>
</head>
<body>

<div class="app_container">
    <div class="container-fluid">
        <div class="row" style="height: 300px">
            <div class="col-sm-6">
                <label for="youtube_widget">Video/audio preview</label>
                <div id="youtube_widget"></div>
            </div>
            <div class="col-sm-6">
                <label for="youtube_preview">Video thumbnail</label>
                <div id="youtube_preview"></div>
            </div>
        </div>
        <div class="row">
            <div  class="col-sm-12">
                <p><label><strong id='video_title'></strong></label></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id='prev' class="btn btn-secondary">Previous</button>
                <button id='next' class="btn btn-secondary">Next</button>
                <button id='remove' class="btn btn-secondary">Remove</button>

                <div class="form-inline" style="display: inline-block">
                    <button id='move' class="btn btn-secondary">Move to list</button>
                    <select id="list_select" class="form-control"></select>
                </div>

                <button id='toggle_filters' class="btn btn-secondary float-right">Show/hide filters</button>

                <div class="form-inline float-right" style="display: inline-block; margin-right: 15px;">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="appendMode">
                        <label class="form-check-label" for="appendMode">Append mode</label>
                    </div>
                </div>


                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="spreadsheet1"></div>
                <div style="margin-bottom: 1rem">
                    <input type="button" class="btn btn-secondary" value="Add new sheet" onclick="addSheet()" style="width:150px;">
                    <button type="button" class="btn btn-danger" onclick="deleteSheet()">Delete current sheet</button>
                    <button class="btn btn-secondary" id='set_titles'>Set column names from first row</button>
                    <button class="btn btn-link" id='download'>Export current spreadsheet as CSV</button>
                    <!--button class="btn btn-link" id='download_json'>Export current spreadsheet as JSON</button-->
                    <a href="/split" target="_blank" class="btn btn-link" id='split'>Split</a>
                    <form action="/import_file" class="dropzone" id="my-awesome-dropzone"></form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Columns weights</h3>
                <div id="weights_spreadsheet"></div>
            </div>
        </div>
    </div>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/js-cookie/src/js.cookie.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="static/jexcel_fixed.js?v1590257024"></script>
<script src="node_modules/jsuites/dist/jsuites.js"></script>
<script src="node_modules/dropzone/dist/min/dropzone.min.js"></script>
<script src="node_modules/jszip/dist/jszip.min.js"></script>

<script src="static/app.js?v1590257024"></script>
</body>
</html>